In [2]:
import pandas as pd
import os
import zipfile
import nltk
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import CountVectorizer
import re

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Lenovo\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Lenovo\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Lenovo\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [3]:
zip_file_path = "BBC_News.zip"
folder_path = "BBC_News"
with zipfile.ZipFile(zip_file_path, 'r') as zip_ref:
    zip_ref.extractall(folder_path)

In [41]:
folder_path = "BBC"
# Menginisialisasi list kosong untuk menyimpan data gambar dan label
text = []
label = []


# Melakukan iterasi pada setiap folder di dalam folder_path
for folder_name in ['business', 'entertainment', 'politics', 'sport', 'tech']:
    folder_dir = os.path.join(folder_path, folder_name)
    if os.path.isdir(folder_dir):
        # Melakukan iterasi pada setiap file di dalam folder
        for filename in os.listdir(folder_dir):
            file_path = os.path.join(folder_dir, filename)
            if os.path.isfile(file_path):
                # Menambahkan path file (gambar) ke dalam list image_data
                text.append(file_path)
                # Menambahkan label folder ke dalam list label_data
                label.append(folder_name)

In [42]:
# Membuat DataFrame dari list image_data dan label_data
df = pd.DataFrame({'text': text, 'label': label})

# Menampilkan DataFrame
df

                      text     label
0     BBC\business\001.txt  business
1     BBC\business\002.txt  business
2     BBC\business\003.txt  business
3     BBC\business\004.txt  business
4     BBC\business\005.txt  business
...                    ...       ...
2220      BBC\tech\397.txt      tech
2221      BBC\tech\398.txt      tech
2222      BBC\tech\399.txt      tech
2223      BBC\tech\400.txt      tech
2224      BBC\tech\401.txt      tech

[2225 rows x 2 columns]

In [43]:
# Meloopi setiap baris dalam dataframe
for index, row in df.iterrows():
    file_path = row['text']  # Mendapatkan path file txt dari kolom "text"
    with open(file_path, 'r') as file:
        content = file.read()  # Membaca isi file txt
        # Mengupdate nilai kolom "text" dalam dataframe dengan isi file txt
        df.at[index, 'text'] = content

# Menampilkan dataframe setelah file txt terbuka
df

                                                   text     label
0     TimeWarner said fourth quarter sales rose 2% t...  business
1     The dollar has hit its highest level against t...  business
2     Yukos' owner Menatep Group says it will ask Ro...  business
3     Rod Eddington, BA's chief executive, said the ...  business
4     Pernod has reduced the debt it took on to fund...  business
...                                                 ...       ...
2220  BT is introducing two initiatives to help beat...      tech
2221  A third of them read unsolicited junk e-mail a...      tech
2222  This goes to the heart of the European project...      tech
2223  Amit Yoran was director of the National Cyber ...      tech
2224  He says that in the world of online gaming suc...      tech

[2225 rows x 2 columns]

In [44]:
df['label'].value_counts()

sport            511
business         510
politics         417
tech             401
entertainment    386
Name: label, dtype: int64

#Cleaning

In [45]:
df['text'] = df['text'].apply(lambda x: re.sub(r'[^\w\s]','',x))

In [46]:
df

                                                   text     label
0     TimeWarner said fourth quarter sales rose 2 to...  business
1     The dollar has hit its highest level against t...  business
2     Yukos owner Menatep Group says it will ask Ros...  business
3     Rod Eddington BAs chief executive said the res...  business
4     Pernod has reduced the debt it took on to fund...  business
...                                                 ...       ...
2220  BT is introducing two initiatives to help beat...      tech
2221  A third of them read unsolicited junk email an...      tech
2222  This goes to the heart of the European project...      tech
2223  Amit Yoran was director of the National Cyber ...      tech
2224  He says that in the world of online gaming suc...      tech

[2225 rows x 2 columns]

In [47]:
#Menyamaratakan Huruf kapital menjadi huruf kecil
df['text'] = [item.lower() for item in df['text']]
df

                                                   text     label
0     timewarner said fourth quarter sales rose 2 to...  business
1     the dollar has hit its highest level against t...  business
2     yukos owner menatep group says it will ask ros...  business
3     rod eddington bas chief executive said the res...  business
4     pernod has reduced the debt it took on to fund...  business
...                                                 ...       ...
2220  bt is introducing two initiatives to help beat...      tech
2221  a third of them read unsolicited junk email an...      tech
2222  this goes to the heart of the european project...      tech
2223  amit yoran was director of the national cyber ...      tech
2224  he says that in the world of online gaming suc...      tech

[2225 rows x 2 columns]

In [48]:
#menghilangan angka dalam text
df['text'] = df['text'].str.replace('\d+', '')
df

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_3952\607194416.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['text'] = df['text'].str.replace('\d+', '')

                                                   text     label
0     timewarner said fourth quarter sales rose  to ...  business
1     the dollar has hit its highest level against t...  business
2     yukos owner menatep group says it will ask ros...  business
3     rod eddington bas chief executive said the res...  business
4     pernod has reduced the debt it took on to fund...  business
...                                                 ...       ...
2220  bt is introducing two initiatives to help beat...      tech
2221  a third of them read unsolicited junk email an...      tech
2222  this goes to the heart of the european project...      tech
2223  amit yoran was director of the national cyber ...      tech
2224  he says that in the world of online gaming suc...      tech

[2225 rows x 2 columns]

In [49]:
#menghilangkan special chratcter seperti #,$,@,!, dll

import string

df['text'] = df['text'].str.replace('[{}]'.format(string.punctuation), '')
df

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_3952\2398666296.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  df['text'] = df['text'].str.replace('[{}]'.format(string.punctuation), '')

                                                   text     label
0     timewarner said fourth quarter sales rose  to ...  business
1     the dollar has hit its highest level against t...  business
2     yukos owner menatep group says it will ask ros...  business
3     rod eddington bas chief executive said the res...  business
4     pernod has reduced the debt it took on to fund...  business
...                                                 ...       ...
2220  bt is introducing two initiatives to help beat...      tech
2221  a third of them read unsolicited junk email an...      tech
2222  this goes to the heart of the european project...      tech
2223  amit yoran was director of the national cyber ...      tech
2224  he says that in the world of online gaming suc...      tech

[2225 rows x 2 columns]

#Tokenization

In [50]:
df['tokens'] = df['text'].apply(word_tokenize)

In [21]:
df

,text,label,tokens,no_stopword,stemmed
0,timewarner said fourth quarter sales rose to ...,business,"[timewarner, said, fourth, quarter, sales, ros...","[timewarner, said, fourth, quarter, sales, ros...","[timewarn, said, fourth, quarter, sale, rose, ..."
1,the dollar has hit its highest level against t...,business,"[the, dollar, has, hit, its, highest, level, a...","[dollar, hit, highest, level, euro, almost, th...","[dollar, hit, highest, level, euro, almost, th..."
2,yukos owner menatep group says it will ask ros...,business,"[yukos, owner, menatep, group, says, it, will,...","[yukos, owner, menatep, group, says, ask, rosn...","[yuko, owner, menatep, group, say, ask, rosnef..."
3,rod eddington bas chief executive said the res...,business,"[rod, eddington, bas, chief, executive, said, ...","[rod, eddington, bas, chief, executive, said, ...","[rod, eddington, ba, chief, execut, said, resu..."
4,pernod has reduced the debt it took on to fund...,business,"[pernod, has, reduced, the, debt, it, took, on...","[pernod, reduced, debt, took, fund, seagram, p...","[pernod, reduc, debt, took, fund, seagram, pur..."
...,...,...,...,...,...
2220,bt is introducing two initiatives to help beat...,tech,"[bt, is, introducing, two, initiatives, to, he...","[bt, introducing, two, initiatives, help, beat...","[bt, introduc, two, initi, help, beat, rogu, d..."
2221,a third of them read unsolicited junk email an...,tech,"[a, third, of, them, read, unsolicited, junk, ...","[third, read, unsolicited, junk, email, buy, g...","[third, read, unsolicit, junk, email, buy, goo..."
2222,this goes to the heart of the european project...,tech,"[this, goes, to, the, heart, of, the, european...","[goes, heart, european, project, even, care, s...","[goe, heart, european, project, even, care, so..."
2223,amit yoran was director of the national cyber ...,tech,"[amit, yoran, was, director, of, the, national...","[amit, yoran, director, national, cyber, secur...","[amit, yoran, director, nation, cyber, secur, ..."
2224,he says that in the world of online gaming suc...,tech,"[he, says, that, in, the, world, of, online, g...","[says, world, online, gaming, behaviour, wasnt...","[say, world, onlin, game, behaviour, wasnt, un..."

#Stopword

In [51]:
stop_words = set(stopwords.words('english'))
df['no_stopword'] = df['tokens'].apply(lambda x: [word for word in x if word.lower() not in stop_words])

In [23]:
df

,text,label,tokens,no_stopword,stemmed
0,timewarner said fourth quarter sales rose to ...,business,"[timewarner, said, fourth, quarter, sales, ros...","[timewarner, said, fourth, quarter, sales, ros...","[timewarn, said, fourth, quarter, sale, rose, ..."
1,the dollar has hit its highest level against t...,business,"[the, dollar, has, hit, its, highest, level, a...","[dollar, hit, highest, level, euro, almost, th...","[dollar, hit, highest, level, euro, almost, th..."
2,yukos owner menatep group says it will ask ros...,business,"[yukos, owner, menatep, group, says, it, will,...","[yukos, owner, menatep, group, says, ask, rosn...","[yuko, owner, menatep, group, say, ask, rosnef..."
3,rod eddington bas chief executive said the res...,business,"[rod, eddington, bas, chief, executive, said, ...","[rod, eddington, bas, chief, executive, said, ...","[rod, eddington, ba, chief, execut, said, resu..."
4,pernod has reduced the debt it took on to fund...,business,"[pernod, has, reduced, the, debt, it, took, on...","[pernod, reduced, debt, took, fund, seagram, p...","[pernod, reduc, debt, took, fund, seagram, pur..."
...,...,...,...,...,...
2220,bt is introducing two initiatives to help beat...,tech,"[bt, is, introducing, two, initiatives, to, he...","[bt, introducing, two, initiatives, help, beat...","[bt, introduc, two, initi, help, beat, rogu, d..."
2221,a third of them read unsolicited junk email an...,tech,"[a, third, of, them, read, unsolicited, junk, ...","[third, read, unsolicited, junk, email, buy, g...","[third, read, unsolicit, junk, email, buy, goo..."
2222,this goes to the heart of the european project...,tech,"[this, goes, to, the, heart, of, the, european...","[goes, heart, european, project, even, care, s...","[goe, heart, european, project, even, care, so..."
2223,amit yoran was director of the national cyber ...,tech,"[amit, yoran, was, director, of, the, national...","[amit, yoran, director, national, cyber, secur...","[amit, yoran, director, nation, cyber, secur, ..."
2224,he says that in the world of online gaming suc...,tech,"[he, says, that, in, the, world, of, online, g...","[says, world, online, gaming, behaviour, wasnt...","[say, world, onlin, game, behaviour, wasnt, un..."

#Stemming

In [52]:
ps = PorterStemmer()
df['stemmed'] = df['no_stopword'].apply(lambda x: [ps.stem(word) for word in x])

In [25]:
df

,text,label,tokens,no_stopword,stemmed
0,timewarner said fourth quarter sales rose to ...,business,"[timewarner, said, fourth, quarter, sales, ros...","[timewarner, said, fourth, quarter, sales, ros...","[timewarn, said, fourth, quarter, sale, rose, ..."
1,the dollar has hit its highest level against t...,business,"[the, dollar, has, hit, its, highest, level, a...","[dollar, hit, highest, level, euro, almost, th...","[dollar, hit, highest, level, euro, almost, th..."
2,yukos owner menatep group says it will ask ros...,business,"[yukos, owner, menatep, group, says, it, will,...","[yukos, owner, menatep, group, says, ask, rosn...","[yuko, owner, menatep, group, say, ask, rosnef..."
3,rod eddington bas chief executive said the res...,business,"[rod, eddington, bas, chief, executive, said, ...","[rod, eddington, bas, chief, executive, said, ...","[rod, eddington, ba, chief, execut, said, resu..."
4,pernod has reduced the debt it took on to fund...,business,"[pernod, has, reduced, the, debt, it, took, on...","[pernod, reduced, debt, took, fund, seagram, p...","[pernod, reduc, debt, took, fund, seagram, pur..."
...,...,...,...,...,...
2220,bt is introducing two initiatives to help beat...,tech,"[bt, is, introducing, two, initiatives, to, he...","[bt, introducing, two, initiatives, help, beat...","[bt, introduc, two, initi, help, beat, rogu, d..."
2221,a third of them read unsolicited junk email an...,tech,"[a, third, of, them, read, unsolicited, junk, ...","[third, read, unsolicited, junk, email, buy, g...","[third, read, unsolicit, junk, email, buy, goo..."
2222,this goes to the heart of the european project...,tech,"[this, goes, to, the, heart, of, the, european...","[goes, heart, european, project, even, care, s...","[goe, heart, european, project, even, care, so..."
2223,amit yoran was director of the national cyber ...,tech,"[amit, yoran, was, director, of, the, national...","[amit, yoran, director, national, cyber, secur...","[amit, yoran, director, nation, cyber, secur, ..."
2224,he says that in the world of online gaming suc...,tech,"[he, says, that, in, the, world, of, online, g...","[says, world, online, gaming, behaviour, wasnt...","[say, world, onlin, game, behaviour, wasnt, un..."

In [33]:
from gettext import install
import pip

SyntaxError: invalid syntax (3164081265.py, line 4)

In [59]:
pip install mlxtend --upgrade --no-deps

Requirement already satisfied: mlxtend in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (0.22.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.2.4; however, version 23.1.2 is available.
You should consider upgrading via the 'c:\Users\Lenovo\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [68]:
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.classifier import AssociativeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

ImportError: cannot import name 'AssociativeClassifier' from 'mlxtend.classifier' (c:\Users\Lenovo\AppData\Local\Programs\Python\Python310\lib\site-packages\mlxtend\classifier\__init__.py)

In [57]:
X = df[['stemmed']]
y = df[['label']]

In [67]:
# Perform one-hot encoding on the tokenized dataset
te = TransactionEncoder()
te_ary = te.fit(X).transform(X)
te_ary

NameError: name 'TransactionEncoder' is not defined

In [54]:
pipeline.fit(X_train, y_train)

AttributeError: 'list' object has no attribute 'lower'

In [25]:
predictions = pipeline.predict(X_test)

NotFittedError: Vocabulary not fitted or provided

In [26]:
from sklearn.metrics import accuracy_score, classification_report

accuracy = accuracy_score(y_test, predictions)
report = classification_report(y_test, predictions)

NameError: name 'predictions' is not defined